:root {
  --main-bg-color: #282828;
  --main-white: #f0f0f0;
  --main-accent: #6600ff;
  --light-accent: #a366ff;
  --btn-bg: rgba(23, 23, 23, 0.2);
  --btn-icon: #f0f0f0;
  --btn-span: #f0f0f0;
  --btn-border: #6600ff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--main-bg-color);
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
}

section {
  z-index: -2;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 40px;
}

#background {
  background-position: center;
}

#background::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  opacity: 0.7;
}

#brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0px 48px 0px;
  color: var(--main-white);
  font-family: 'DM Mono', monospace;
  z-index: 1;
  text-align: center;
}

#brand h1 {
  margin: 0;
  font-size: 72px;
  letter-spacing: 2px;
}

form {
  z-index: 99;
  animation: onloadFade 0.6s forwards;
}

input {
  font-size: 18px;
  margin: 12px 0;
  display: block;
  outline: none;
}

.file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file-input + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.upload-btn, .submit-btn {
  background: var(--btn-bg);
  height: 148px;
  width: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
/*   box-shadow: 1px 1px 8px 2px lightgrey; */
  border: solid 2.5px var(--btn-border);
  color: var(--btn-icon);
  font-size: 20px;
  transition: transform 0.15s ease-in;
  animation: onloadSpin 0.6s;
  margin: 0 auto;
}

.upload-btn:hover, .submit-btn:hover {
  transform: scale(1.1);
}

.submit-btn:active {
  transform: scale(0.97);
}

.upload-btn i, .submit-btn i {
  font-size: 60px;
}

.upload-btn span, .submit-btn span {
  color: var(--btn-span);
  margin-top: 8px;
  letter-spacing: 2px;
}

#file-name {
  color: var(--main-white);
  margin: 12px auto 28px auto;
  text-align: center;
  max-width: 100%;
}

.submit-btn {
  position: relative;
  border-radius: 4px;
  margin: 20px auto;
}

input[type="submit"] {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
  background: transparent;
  z-index: 9999;
}

#view {
  margin-bottom: 100px;
  color: var(--main-white);
  font-family: 'DM Mono', monospace;
}

#view a {
  color: var(--light-accent);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#view i {
  font-size: 120px;
  margin: 12px auto;
}

@keyframes onloadFade {
  from {
    opacity: 0;
    margin: 0px;
  }
  to {
    opacity: 1;
    margin-bottom: 100px;
  }
}

@keyframes onloadSpin {
  from {
    transform: scale(0.1) rotate(-1000deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
