<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1952bf6c1b4849fb9ead5b74285fb5e7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1952bf6c1b4849fb9ead5b74285fb5e7" ></div>
        
</body>
<script>    
    
            var map_1952bf6c1b4849fb9ead5b74285fb5e7 = L.map(
                "map_1952bf6c1b4849fb9ead5b74285fb5e7",
                {
                    center: [37.0, -95.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_679729a1b2134c41bcde973d5ce84325 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var marker_abeb6f26a4674177b0e99ac2bb5142be = L.marker(
                [32.360132, -86.2192245],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_ab4c29023f9447899a62d1201c91c519 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_abeb6f26a4674177b0e99ac2bb5142be.setIcon(icon_ab4c29023f9447899a62d1201c91c519);
        
    
            var marker_252d395e19fb48cca52dc5c9a872e1e3 = L.marker(
                [34.6244289, -86.56777989999999],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_63b449fbb9d543b6a601b0809b3c6582 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_252d395e19fb48cca52dc5c9a872e1e3.setIcon(icon_63b449fbb9d543b6a601b0809b3c6582);
        
    
            var marker_a16ac51f1a4a40d1b6b15ab10e8997bb = L.marker(
                [34.6648946, -86.7868888],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_df180b2100a74bf39985f572c4a7118d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_a16ac51f1a4a40d1b6b15ab10e8997bb.setIcon(icon_df180b2100a74bf39985f572c4a7118d);
        
    
            var marker_350679723c094652a69dd66dd805b792 = L.marker(
                [33.4190168, -86.6938644],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_c4a8b2f3560141eb8f3371a29d094b79 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_350679723c094652a69dd66dd805b792.setIcon(icon_c4a8b2f3560141eb8f3371a29d094b79);
        
    
            var marker_8f3a3c459913495fa3e468c497c9f34a = L.marker(
                [34.7344797, -86.6350368],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_7beb7d47e6104167805522dbf334e354 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_8f3a3c459913495fa3e468c497c9f34a.setIcon(icon_7beb7d47e6104167805522dbf334e354);
        
    
            var marker_6608ce561b444e0aaef13e55f8b6a8c0 = L.marker(
                [36.1744275, -94.1514164],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_f52f1f62f54542ddb66bc95d52529c88 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_6608ce561b444e0aaef13e55f8b6a8c0.setIcon(icon_f52f1f62f54542ddb66bc95d52529c88);
        
    
            var marker_1fe1994395574bb2a6bbde5b0daa68b3 = L.marker(
                [35.8252012, -90.6696704],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_91fd6a9961234d3ea20777a6050e8575 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_1fe1994395574bb2a6bbde5b0daa68b3.setIcon(icon_91fd6a9961234d3ea20777a6050e8575);
        
    
            var marker_adbf958431804641ad72da9e2048f4ee = L.marker(
                [36.3346462, -94.15445559999999],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_f3352e29e52642b280e8ba720549e8b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_adbf958431804641ad72da9e2048f4ee.setIcon(icon_f3352e29e52642b280e8ba720549e8b4);
        
    
            var marker_49a4f03bac0a4df5aa42b213764d4e3d = L.marker(
                [36.097827, -94.15083659999999],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_3975c4e169774bf49c2a971b7194c1fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_49a4f03bac0a4df5aa42b213764d4e3d.setIcon(icon_3975c4e169774bf49c2a971b7194c1fc);
        
    
            var marker_218c652d1d60464fa7841e4cbf792a94 = L.marker(
                [35.3538928, -94.3543854],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_f62777561ca04d8ea81bdb318c3f4691 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_218c652d1d60464fa7841e4cbf792a94.setIcon(icon_f62777561ca04d8ea81bdb318c3f4691);
        
    
            var marker_09f48779dd2844039adf6f10dc98c09b = L.marker(
                [33.4605801, -94.0409268],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_8a406e850eca4ddaa54f1650237bfd62 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_09f48779dd2844039adf6f10dc98c09b.setIcon(icon_8a406e850eca4ddaa54f1650237bfd62);
        
    
            var marker_5db82eb9a3974d679ae9690c3dc2307b = L.marker(
                [34.4704575, -93.0588401],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_ff4eb8d176b4464996464c8c3bfa61fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_5db82eb9a3974d679ae9690c3dc2307b.setIcon(icon_ff4eb8d176b4464996464c8c3bfa61fe);
        
    
            var marker_1080e7d826ef496797557ba3ef152685 = L.marker(
                [34.7574527, -92.404411],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_3b89b2df09cf422b880a751d44750034 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_1080e7d826ef496797557ba3ef152685.setIcon(icon_3b89b2df09cf422b880a751d44750034);
        
    
            var marker_c5f023ac04bc458bbd500be566365941 = L.marker(
                [34.7868042, -92.26082749999999],
                {}
            ).addTo(map_1952bf6c1b4849fb9ead5b74285fb5e7);
        
    
            var icon_c8173091e7004cba8ee19c6ca8635d35 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bullseye", "iconColor": "white", "markerColor": "#B22222", "prefix": "fa"}
            );
            marker_c5f023ac04bc458bbd500be566365941.setIcon(icon_c8173091e7004cba8ee19c6ca8635d35);
        
</script>